# Libraries

In [45]:
import pandas as pd
import numpy as np

#####  - Check for null values in all the columns

In [46]:
data=pd.read_csv("learningSet.csv")
categorical=data.select_dtypes(np.object_)
nulls_df=pd.DataFrame(categorical.isna().sum()/len(categorical))
nulls_df.columns=["nulls_percentage"]
nulls_df

C:\Users\josep\AppData\Local\Temp\ipykernel_13588\3014471068.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("learningSet.csv")

          nulls_percentage
OSOURCE           0.000000
STATE             0.000000
ZIP               0.000000
MAILCODE          0.000000
PVASTATE          0.000000
...                    ...
RFA_2A            0.000000
MDMAUD_R          0.000000
MDMAUD_F          0.000000
MDMAUD_A          0.000000
GEOCODE2          0.001383

[74 rows x 1 columns]

######  - Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- OSOURCE - symbol definitions not provided, too many categories
- ZIP CODE - we are including state already

In [47]:
drop_list=[]

In [48]:
drop_list.append("OSOURCE")

In [49]:
drop_list.append("ZIP")

In [50]:
drop_list

['OSOURCE', 'ZIP']

In [51]:
categorical["OSOURCE"]

0        GRI
1        BOA
2        AMH
3        BRY
4
        ...
95407    ASE
95408    DCD
95409    MBC
95410    PRV
95411    MCC
Name: OSOURCE, Length: 95412, dtype: object

In [52]:
categorical=categorical.drop(columns=drop_list)
categorical

,STATE,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,IL,,,0,,,,,XXXX,T2,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,CA,,,0,,,,,XXXX,S1,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,NC,,,0,,,,,XXXX,R2,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,CA,,,0,,,,,XXXX,R2,...,A1D,A1D,,,L,E,X,X,X,C
4,FL,,,0,X,X,,,XXXX,S2,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,AK,,,0,,,,,XXXX,C2,...,,,,,L,G,X,X,X,C
95408,TX,,,0,,,,,XXXX,C1,...,,,,,L,F,X,X,X,A
95409,MI,,,0,,X,,,XXXX,C3,...,P1D,P1D,,,L,E,X,X,X,B
95410,CA,,,0,X,,,,XXXX,C1,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,NC,,,0,X,,X,,C1CM,C1,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

###### - Identify columns that over 85% missing values

In [53]:
categorical["MAILCODE"].apply(lambda x:x.replace(" ","A"))
categorical=categorical.replace(" ",np.nan)

In [54]:
nulls_df=pd.DataFrame(categorical.isna().sum()/len(categorical))
nulls_df.columns=["nulls_percentage"]
nulls_df

          nulls_percentage
STATE             0.000000
MAILCODE          0.985337
PVASTATE          0.984719
NOEXCH            0.000073
RECINHSE          0.929747
...                    ...
RFA_2A            0.000000
MDMAUD_R          0.000000
MDMAUD_F          0.000000
MDMAUD_A          0.000000
GEOCODE2          0.003343

[72 rows x 1 columns]

In [55]:
nulls_df[nulls_df["nulls_percentage"]>0.85].sort_values(by=["nulls_percentage"],ascending=False)

          nulls_percentage
RECPGVG           0.998805
SOLP3             0.998113
MAJOR             0.996919
PLATES            0.994131
HOMEE             0.990703
CARDS             0.989089
CHILD03           0.987989
MAILCODE          0.985337
PVASTATE          0.984719
KIDSTUFF          0.983901
CHILD07           0.983587
RECSWEEP          0.983052
CHILD12           0.981019
RECP3             0.978860
BOATS             0.978745
CHILD18           0.970161
PHOTO             0.949839
COLLECT1          0.945479
SOLIH             0.935019
RECINHSE          0.929747
FISHER            0.925271
CATLG             0.917568
CRAFTS            0.914308
BIBLE             0.907024
VETERANS          0.890727
PCOWNERS          0.890150
WALKER            0.889940
CDPLAY            0.871568
STEREO            0.865908
GARDENIN          0.859535

In [56]:
cols_to_drop=list(nulls_df[nulls_df["nulls_percentage"]>0.25].sort_values(by=["nulls_percentage"],ascending=False).index)
cols_to_drop

['RECPGVG',
 'SOLP3',
 'MAJOR',
 'PLATES',
 'HOMEE',
 'CARDS',
 'CHILD03',
 'MAILCODE',
 'PVASTATE',
 'KIDSTUFF',
 'CHILD07',
 'RECSWEEP',
 'CHILD12',
 'RECP3',
 'BOATS',
 'CHILD18',
 'PHOTO',
 'COLLECT1',
 'SOLIH',
 'RECINHSE',
 'FISHER',
 'CATLG',
 'CRAFTS',
 'BIBLE',
 'VETERANS',
 'PCOWNERS',
 'WALKER',
 'CDPLAY',
 'STEREO',
 'GARDENIN',
 'PETS',
 'GEOCODE',
 'RFA_15',
 'RFA_23',
 'LIFESRC',
 'RFA_20',
 'PEPSTRFL',
 'RFA_13',
 'RFA_24',
 'RFA_21',
 'RFA_5',
 'RFA_10',
 'AGEFLAG',
 'RFA_17',
 'RFA_22',
 'RFA_19']

###### - Remove those columns from the dataframe

In [57]:
categorical=categorical.drop(columns=cols_to_drop)
categorical

,STATE,NOEXCH,MDMAUD,DOMAIN,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2,RFA_3,...,RFA_12,RFA_14,RFA_16,RFA_18,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,IL,0,XXXX,T2,36,NaN,F,NaN,L4E,S4E,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,CA,0,XXXX,S1,14,H,M,3,L2G,A2G,...,A1E,NaN,L1E,NaN,L,G,X,X,X,A
2,NC,0,XXXX,R2,43,U,M,3,L4E,S4E,...,S4F,S4F,S4F,S4D,L,E,X,X,X,C
3,CA,0,XXXX,R2,44,U,F,3,L4E,S4E,...,S4E,S4E,S4E,S2D,L,E,X,X,X,C
4,FL,0,XXXX,S2,16,H,F,3,L2F,A2F,...,A1E,L3D,L3D,A2D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,AK,0,XXXX,C2,27,NaN,M,NaN,L1G,F1G,...,NaN,NaN,NaN,NaN,L,G,X,X,X,C
95408,TX,0,XXXX,C1,24,H,M,3,L1F,NaN,...,NaN,NaN,NaN,NaN,L,F,X,X,X,A
95409,MI,0,XXXX,C3,30,NaN,M,NaN,L3E,S4E,...,N3E,N3E,F1D,F1D,L,E,X,X,X,B
95410,CA,0,XXXX,C1,24,H,F,2,L4F,S4F,...,S4F,S4F,S3F,S2F,L,F,X,X,X,A
95411,NC,0,C1CM,C1,24,U,F,3,L1G,A1G,...,A1G,A1G,S2G,S3G,L,G,C,1,C,C

###### - Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [58]:
categorical["GENDER"].value_counts()

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [59]:
variables=["U","J","C","A"]

for var in variables:
    categorical['GENDER'] = categorical['GENDER'].replace(var,"other")
    
categorical["GENDER"].value_counts()

F        51277
M        39094
other     2084
Name: GENDER, dtype: int64