In [26]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
data= pd.read_csv("/Users/giacomorossini/Desktop/IRONHACK/Laboratory/LAB1.2/lab-revisiting-machine-learning/learningSet.txt")
data

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [28]:
#deal w/ sparcity part = no value

nulls_percent_df=data.isna().sum()
nulls_percent_df =data.isna().sum()/len(data)

nulls_percent_df=pd.DataFrame(data.isna().sum()/len(data)).reset_index()

nulls_percent_df.columns=['columns_name', 'nulls_percentage']

nulls_percent_df.sort_values(by=['nulls_percentage'], ascending=False)

    columns_name  nulls_percentage
414      RDATE_5          0.999906
436      RAMNT_5          0.999906
412      RDATE_3          0.997464
434      RAMNT_3          0.997464
413      RDATE_4          0.997055
..           ...               ...
168        ETHC3          0.000000
167        ETHC2          0.000000
166        ETHC1          0.000000
165        HHD12          0.000000
240        TPE11          0.000000

[481 rows x 2 columns]

In [65]:
#set threshold >.75
threshold=0.25
colums_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>threshold]

In [30]:
data['OSOURCE'].isna().sum()
data['ZIP'].isna().sum()

0

In [74]:
#selecting column to drop
drop_list = list(colums_above_threshold['columns_name'])
back_up_list = ['OSOURCE', 'ZIP']
drop_list.extend(back_up_list)

In [73]:
#drop columns >threshold

data_wrangled = data.drop(drop_list, axis=1)

In [85]:
data_wrangled['GENDER']=data_wrangled['GENDER'].replace(' ','F')

In [86]:
#checking data column gender
set(data_wrangled['GENDER'])

{'A', 'C', 'F', 'J', 'M', 'U'}

In [88]:
#mapping column gender with F M other

data_wrangled['GENDER']=data_wrangled['GENDER'].apply(lambda x:'M' if x=='M' else ('F' if x=='F' else 'other'))

In [90]:
data_wrangled['GENDER'].unique()

array(['F', 'M', 'other'], dtype=object)